@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas:
    "header header"
    "side main";
}

.body_hide_menu {
  grid-template-areas:
  "header header"
  "main main";
}

.header {
  grid-area: header;
}


.sidebar {
  grid-area: side;
  display: grid;
  place-items: center;
}

.sidebar_hide_menu {
  display: none;
}

.main {
  grid-area: main;
  padding-bottom: 4rem;
}

@media (width < 600px){
  html {
    font-size: 14px;
  }

  body {
    grid-template-columns: 100px 1fr;
  }
}

.img {
  height: auto;
  width: auto;
}

.img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}